<div id="carousel" class="carousel slide" data-ride="carousel">
<!--Індикатори-->
	<ol class="carousel-indicators">
		<li class="active" data-target="#carousel" data-slide-to="0"></li>
		<li data-target="#carousel" data-slide-to="1"></li>
		<li data-target="#carousel" data-slide-to="2"></li>
		<li data-target="#carousel" data-slide-to="3"></li>
		<li data-target="#carousel" data-slide-to="4"></li>
	</ol>
	
	<!--Слайди-->
	<div class="carousel-inner">
		<div class="item active">
			<%= image_tag "ternopolis-h1.jpg"%>
			<div class="carousel-caption">
			<div class="frame">
				<h1 class="title">Ternopolis</h1>
				<p class="t-is" >Це краса та вишуканість...</p>
			</div>
			</div>
		</div>
		<div class="item">
			<%= image_tag "ternopolis-h2.jpg"%>
			<div class="carousel-caption frame">
				<h1 class="title">Ternopolis</h1>
				<p class="t-is" >Це все для вашого спокою...</p>
			</div>
		</div>
		<div class="item">
			<%= image_tag "ternopolis-h3.jpg", class: 'blur'%>
			<div class="carousel-caption">
				<h1 class="title">Ternopolis</h1>
				<p class="t-is" >Це першокласне обслуговування...</p>
			</div>
		</div>
		<div class="item">
			<%= image_tag "ternopolis-h4.jpg"%>
			<div class="carousel-caption">
				<h1 class="title">Ternopolis</h1>
				<p class="t-is" >Це комфорт та затишок...</p>
			</div>
		</div>
		<div class="item">
			<%= image_tag "ternopolis-h5.jpg"%>
			<div class="carousel-caption">
				<h1 class="title">Ternopolis</h1>
				<p class="t-is" >Це те що треба...</p>
			</div>
		</div>
	</div>

</div>

